* {
    margin: 0;
}

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    overflow: hidden;
}



.baratas{
    width: 100%;
    height: 100px;
    background-color: black;
    
}


.profilebar{
    display: flex;
    font-size: 100px;
    color: greenyellow;
}

.profile{
    opacity: 100%;
    font-size: 70px;
    margin: 0 20px;
    color: white;
}

.submenu{
    display: flex;
    list-style: none;
    font-weight: normal;
    flex: 6;
    padding: 5px;
}

.submenu-home{
    margin: 0 30px;
}

.submenu-use{
    font-weight: bold;
}

.submenuitem-island{
    align-items: center;
    margin: 0 30px;
    width: 50;
    height: 30;
    color: black;
}

.submenuitem-beach{
    margin: 0 30px;
    color: black;
}

.submenuitem-mountain{
    margin: 0 30px;
    color: black;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.featured{
    height: 100%;
}

.featured-main{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.rajaampat-bg{
    position: absolute;
}

.featured-group{
    color: white;
    margin: 40 10;
    font-size: 40;
    font-weight: normal;
}

.featured-inti{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.5s;
}

.featured-title{
    margin: 0 100;
    color: white;
    font-weight: bold;
    font-size: 150;
}

.featured-paragraph{
    margin: 10 100;
    color: white;
    font-size: 60;
    font-weight: lighter; 
}

.tambahan{
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

.featured-more{
    margin: 30 100;
    color: black;
    background-color: rgba(255, 255, 255, .4);
    font-size: 60;
    border-radius: 10px;
    width: 49%;
}

.featured-more-button{
    margin: 5 100;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bold;

}